.auth-bg {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  height: 129vh;
  display: flex;
  flex: 0.5;
}

.auth-form {
  height: 100%;
  flex-direction: column;
  flex: 0.5;
}

.text-account {
  position: relative;
  text-align: center;
  top: -21px;
  background: white;
  color: #9f9f9f;
  font-size: 16px;
  width: 35%;
  font-weight: 700;
  margin: 0 auto;
}
.text-forgot {
  position: relative;
  text-align: left;
  top: -21px;
  color: #6a4029;
  font-size: 20px;
  width: 100%;
  font-weight: 700;
  margin: 0 auto;
  text-decoration-line: underline;
}

.text-right {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.text-forgot2 {
  position: relative;
  text-align: center;
  color: black;
  font-size: 52px;
  font-weight: 700;
}

.text-worry {
  position: relative;
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: 400;
}
